
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <style>
      html{
        font-family: 'Poppins', sans-serif;
      }

      ion-content{
          background-color: #d1f9f9;
      }

      .fixed-bg {
    background-image: url("../assets/imgs/brand1.jpg");
    width: 100%;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .bg {
    /* The image used */
    background-image: url("../assets/imgs/brand2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>

    <ion-header>
      <ion-navbar color="primary">
        <ion-title style="text-align:center; font-family: 'Poppins', sans-serif;">
          A &nbsp;&nbsp;&nbsp; B &nbsp;&nbsp;&nbsp; O &nbsp;&nbsp;&nbsp; U &nbsp;&nbsp;&nbsp; T
          <br>
          C H A R L E S &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; K E I T H
        </ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content padding>
      <div class="fixed-bg"></div>
      <br><br>
      <article>
        <h2 style="text-align:center; font-family: 'Poppins', sans-serif;"><b> B R A N D &nbsp;&nbsp; P R O F I L E </b></h2>
        <h4 style="text-align:center; font-family: 'Poppins', sans-serif; margin:.5cm;">

          CHARLES & KEITH was established in 1996 by fashion entrepreneurs Charles Wong and Keith Wong with the foresight of providing fashionable footwear that was tailored to the sizes of Asian women.
        </h4>

        <h4 style="text-align:center; font-family: 'Poppins', sans-serif; margin:.5cm;">
        A lifestyle brand that transforms the latest trends into accessible fashion, CHARLES & KEITH’s product offerings have diversified to include bags, accessories and costume jewellery that inspire with experimental designs. The brand is the fashion destination for stylish urbanites and is synonymous with curated collections of relevant designs.
        </h4>

        <h4 style="text-align:center; font-family: 'Poppins', sans-serif; margin:.5cm;">
        From a single store in Singapore, CHARLES & KEITH has grown to more than 500 stores in Asia Pacific, Europe and the Middle East. CHARLES & KEITH has garnered a strong presence both online at CHARLESKEITH.COM as well as in fashion cities such as Dubai, Seoul, Shanghai and Taipei. The brand has also began its foray into locations such as Macau’s The Venetian and pop-up stores in Paris’s Galeries Lafayette in the last three years.
        </h4>

        <h4 style="text-align:center; font-family: 'Poppins', sans-serif; margin:.5cm;">
        CHARLES & KEITH also believes in being socially responsible by being an advocate for various Humanitarian Causes as well as Human Excellence and Environmental Initiatives. Since 2010, the brand has initiated the use of Forest Stewardship Council (FSC) certified paper to reduce its carbon footprint.
        </h4>

        <h4 style="text-align:center; font-family: 'Poppins', sans-serif; margin:.5cm;">
          Through the years, CHARLES & KEITH has collaborated with international organisations such as United Nations Entity for Gender Equality (UNWOMEN), Breast Cancer Foundation and Earth Hour in support of various philanthropic and environmental causes.
        </h4>
      </article>



    <div class="bg"></div>
    <h5 style="text-align: center; font-family: 'Poppins', sans-serif;">All Rights Reserved | 2018 </h5>
    </ion-content>

    <ion-footer>
      <ion-navbar color="primary">
        <ion-title>
          <h4 style="text-align: center; font-family: 'Poppins', sans-serif;"><i>" creating trends to fashion since 1996 "</i></h4>
        </ion-title>
      </ion-navbar>
    </ion-footer>
