<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Products" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Sign Up" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>

</ion-tabs>
