

    <style>
      html{
        font-family: 'Poppins', sans-serif;
      }

      ion-content{
          background-color: #d5f9d1;
      }
form{
  margin-left: 7cm;
  margin-right: 7cm;
}
      /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, input[type=email] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

    </style>

    <ion-header>
      <ion-navbar color="secondary">
        <ion-title style="text-align:center; font-family: 'Poppins', sans-serif;">
          W &nbsp;&nbsp; E &nbsp;&nbsp; L &nbsp;&nbsp; C &nbsp;&nbsp; O &nbsp;&nbsp; M &nbsp;&nbsp; E
          <br>
          C H A R L E S &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; K E I T H
        </ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content padding>
      <br><br>
      <form style="font-family: 'Poppins', sans-serif;">
        <div class="form-group">
          <label for="Name">Full Name</label>
          <input type="text" class="form-control" id="Name" placeholder="John Smith">
        </div>
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" placeholder="jSmith@mail.com">
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
        </div>
        <button type="submit" class="button5">Sign Up</button>
      </form>



    <div class="bg"></div>
    <h5 style="text-align: center; font-family: 'Poppins', sans-serif;">All Rights Reserved | 2018 </h5>
    </ion-content>

    <ion-footer>
      <ion-navbar color="secondary">
        <ion-title>
          <h4 style="text-align: center; font-family: 'Poppins', sans-serif;"><i>" you had me at hello  "</i></h4>
        </ion-title>
      </ion-navbar>
    </ion-footer>
