
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <style>
      html{
        font-family: 'Poppins', sans-serif;
      }

      ion-content{
          background-color: #f9f6d1;
      }

      .fixed-bg {
    background-image: url("../assets/imgs/img-1.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .bg {
    /* The image used */
    background-image: url("../assets/imgs/end.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    ion-slides{
      margin-top: 1cm;
      margin-right: 1cm;
    }
    </style>

    <ion-header>
      <ion-navbar color="dark">
        <ion-title style="text-align:center; font-family: 'Poppins', sans-serif;">C H A R L E S &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; K E I T H </ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content padding>
      <div class="fixed-bg"></div>

      <h1 style="text-align:center; font-family: 'Poppins', sans-serif;">C H A R L E S &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; K E I T H </h1>
      <ion-slides pager>

        <ion-slide>
          <img src="../assets/imgs/img-3.jpg" alt="">
        </ion-slide>

        <ion-slide>
          <img src="../assets/imgs/img-4.jpg" alt="">
        </ion-slide>

        <ion-slide>
          <img src="../assets/imgs/img-5.jpg" alt="">
        </ion-slide>

        <ion-slide>
          <img src="../assets/imgs/img-6.jpg" alt="">>
        </ion-slide>

        <ion-slide>
          <img src="../assets/imgs/img-7.jpg" alt="">
        </ion-slide>

      </ion-slides>

      <h4 style="text-align: center; font-family: 'Poppins', sans-serif; margin: .5cm;"><i> <b>
        A lifestyle brand that transforms the latest trends into accessible fashion, CHARLES & KEITH’s product offerings have diversified to include bags, accessories and costume jewellery that inspire with experimental designs. The brand is the fashion destination for stylish urbanites and is synonymous with curated collections of relevant designs.
      </b> </i>
     </h4>

    <div class="bg"></div>
    <h5 style="text-align: center; font-family: 'Poppins', sans-serif;">All Rights Reserved | 2018 </h5>
    </ion-content>

    <ion-footer>
      <ion-navbar color="dark">
        <ion-title>
          <h4 style="text-align: center; font-family: 'Poppins', sans-serif;"><i>" transform latest trends to accessible fashion "</i></h4>
        </ion-title>
      </ion-navbar>
    </ion-footer>
