
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <style>
      html{
        font-family: 'Poppins', sans-serif;
      }

      ion-content{
          background-color: #f9d1d1;
      }

      ion-card img{
        width: 418px;
        height: 418px;
      }
      ion-card{
        padding: .5cm;
        width: 418px;
      }


    </style>

    <ion-header>
      <ion-navbar color="danger">
        <ion-title style="text-align:center; font-family: 'Poppins', sans-serif;">
          P &nbsp;&nbsp; R &nbsp;&nbsp; O &nbsp;&nbsp; D &nbsp;&nbsp; U &nbsp;&nbsp; C &nbsp;&nbsp; T &nbsp;&nbsp; S
          <br>
          C H A R L E S &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; K E I T H
        </ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content padding>
      <div class="row">
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/ankle-strap-sneakers1.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Ankle Strap Sneakers
                </ion-card-title>
              <h3>Php: 2,599.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/ankle-strap-sneakers2.jpg" />
            <ion-card-content>
              <ion-card-title>
                Ankle Strap Sneakers
                </ion-card-title>
              <h3>Php: 2,599.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/ankle-strap-sneakers3.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Ankle Strap Sneakers
                </ion-card-title>
              <h3>Php: 2,599.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/criss-cross-sling-back-heel1.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Criss Cross Sling Back Heel
                </ion-card-title>
              <h3>Php: 2,199.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/criss-cross-sling-back-heel2.jpg" />
            <ion-card-content>
              <ion-card-title>
              Criss Cross Sling Back Heel
                </ion-card-title>
              <h3>Php: 2,199.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/criss-cross-sling-back-heel3.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Criss Cross Sling Back Heel
                </ion-card-title>
              <h3>Php: 2,199.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/chelsea-ankle-boots1.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Chelsea Ankle Boots
                </ion-card-title>
              <h3>Php: 3,199.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/chelsea-ankle-boots2.jpg" />
            <ion-card-content>
              <ion-card-title>
                Chelsea Ankle Boots
                </ion-card-title>
              <h3>Php: 3,199.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="col-md-4">
          <ion-card>
            <img src="../assets/imgs/chelsea-ankle-boots3.jpg"/>
            <ion-card-content>
              <ion-card-title>
                Chelsea Ankle Boots
                </ion-card-title>
              <h3>Php: 3,199.00</h3>
            </ion-card-content>
          </ion-card>
        </div>
      </div>

    <h5 style="text-align: center; font-family: 'Poppins', sans-serif;">All Rights Reserved | 2018 </h5>
    </ion-content>

    <ion-footer>
      <ion-navbar color="danger">
        <ion-title>
          <h4 style="text-align: center; font-family: 'Poppins', sans-serif;"><i>" life's too short to wear boring shoes "</i></h4>
        </ion-title>
      </ion-navbar>
    </ion-footer>
